.table {
    .MuiPaper-root {
      border: 1px solid grey;
    }
  
    .col-field {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      align-items: center;
  
      .name {
        margin-right: 8px;
      }
  
      .sort {
        display: flex;
      }
    }
  
    .table-details {
  
      .white-stripe {
        background-color: red;
      }
    }
  
    .loading {
      display: flex;
      padding: 50px;
      justify-content: center;
      align-content: center;
    }
  }